.heading{
    text-align: center;
}

.content-section{
    padding: 0 5vw 0 5vw;
}

.content__title{
    font-size: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);
    margin-bottom: 2.5%;
    margin-top: 7%;
}
.content__text-block .content__paragraph{
    margin-bottom: 1.5em;
}
.content__paragraph {
    font-size: 18px;
    font-family: var(--main-font);
    margin-top: 20px;
}
.sulka{
    color:  inherit;
}
.content__blockquote{
   
   justify-items: center;
  
}
.blockquote__content{
    width: 75%;
    margin-bottom: 1.5em;
    font-style: italic;
    font-size: 18px;
    text-align:left;
    font-family: var(--main-font);
    line-height: 200%;
}
.content__list{
    list-style: none;
    padding-inline-start: 40px;
    margin: 0;
}
.content__list li{
    font-family: var(--main-font);
    font-size: 18px;
    position: relative;
    margin-bottom: 10px;
}
.content__list li:last-child {
    margin-bottom: 0;
}


.content__list li::before {
    content: ""; 
    position: absolute; 
    left: -40px;
    top: 48%; 
    transform: translateY(-50%); 
    width: 15px;
    height: 15px; 
    background-image: url(/images/marker-light.svg) ; 
    background-size: cover; 
    background-position: center; 
}
.theme_dark .content__list li::before {
    content: ""; 
    position: absolute; 
    left: -40px;
    top: 48%; 
    transform: translateY(-50%); 
    width: 15px;
    height: 15px; 
    background-image: url(/images/marker-dark.svg) ; 
    background-size: cover; 
    background-position: center; 
}
.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter{
    font-weight: bold;
    background-color: var(--accent-color);
    font-size: 30px;
    padding: 0 4px; 
    margin-right: 2px; 
    line-height: 1; 
    
    

}
.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-child::first-letter{
    font-weight: bold;
    border-radius: 1px;
    font-size: 30px;
    padding: 0 4px; 
    margin-right: 2px; 
    line-height: 1; 
    border: 1px solid;
}
.content__figur{
    position: relative; 
    padding: 7% 0 7% 0;
    width: calc(100% + 10vw); 
    left: calc(-5vw);
}
.content__picture{
    width: 100%;
    position: relative;
    
}
.content__picture-caption{
    padding: 20px;
    border-bottom: 2px solid ;
    text-align: center;
    font-family: var(--main-font);
}
.content__card{
    aspect-ratio:4/3;
    margin-top: 7%; 
    border: 2px solid currentColor; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px;
    text-align: center; 
    color: var(--text-color);
}
.content__card-title{
    font-size: 60px;
    font-family: var(--accent-font);
}
.content__card-subtitle{
    font-family: var(--main-font);

}
.colored-text {
    position: relative;
     
}

.colored-text::after {
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width:13.5rem; 
    height: 0.3em; 
    background-color: var(--accent-color); 
    z-index: -1; 
}
